<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./02 (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{60,45}</string>
    <key>spriteSourceSize</key>
    <string>{60,45}</string>
    <key>textureRect</key>
    <string>{{62,56},{60,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./02 (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{60,43}</string>
    <key>spriteSourceSize</key>
    <string>{60,43}</string>
    <key>textureRect</key>
    <string>{{62,103},{60,43}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./02 (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{60,36}</string>
    <key>spriteSourceSize</key>
    <string>{60,37}</string>
    <key>textureRect</key>
    <string>{{0,111},{60,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./02 (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{56,54}</string>
    <key>spriteSourceSize</key>
    <string>{60,54}</string>
    <key>textureRect</key>
    <string>{{62,0},{56,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./02 (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{60,55}</string>
    <key>spriteSourceSize</key>
    <string>{60,55}</string>
    <key>textureRect</key>
    <string>{{0,0},{60,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./02 (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{58,46}</string>
    <key>spriteSourceSize</key>
    <string>{60,46}</string>
    <key>textureRect</key>
    <string>{{124,56},{58,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./02 (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{58,44}</string>
    <key>spriteSourceSize</key>
    <string>{60,44}</string>
    <key>textureRect</key>
    <string>{{124,104},{58,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./02 (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{60,45}</string>
    <key>spriteSourceSize</key>
    <string>{60,46}</string>
    <key>textureRect</key>
    <string>{{120,0},{60,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./02 (9)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{60,52}</string>
    <key>spriteSourceSize</key>
    <string>{60,53}</string>
    <key>textureRect</key>
    <string>{{0,57},{60,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{186,150}</string>
   <key>textureFileName</key>
   <string>02.png</string>
  </dict>
 </dict>
</plist>
