<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./blobulord-move-attack (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,96}</string>
    <key>spriteSourceSize</key>
    <string>{112,96}</string>
    <key>textureRect</key>
    <string>{{0,0},{112,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blobulord-move-attack (10)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{108,97}</string>
    <key>spriteSourceSize</key>
    <string>{108,97}</string>
    <key>textureRect</key>
    <string>{{228,99},{108,97}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blobulord-move-attack (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,96}</string>
    <key>spriteSourceSize</key>
    <string>{112,96}</string>
    <key>textureRect</key>
    <string>{{0,98},{112,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blobulord-move-attack (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,94}</string>
    <key>spriteSourceSize</key>
    <string>{112,94}</string>
    <key>textureRect</key>
    <string>{{0,196},{112,94}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blobulord-move-attack (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{110,94}</string>
    <key>spriteSourceSize</key>
    <string>{110,94}</string>
    <key>textureRect</key>
    <string>{{0,292},{110,94}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blobulord-move-attack (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{108,97}</string>
    <key>spriteSourceSize</key>
    <string>{108,97}</string>
    <key>textureRect</key>
    <string>{{228,0},{108,97}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blobulord-move-attack (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,96}</string>
    <key>spriteSourceSize</key>
    <string>{112,96}</string>
    <key>textureRect</key>
    <string>{{114,0},{112,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blobulord-move-attack (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,96}</string>
    <key>spriteSourceSize</key>
    <string>{112,96}</string>
    <key>textureRect</key>
    <string>{{114,98},{112,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blobulord-move-attack (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,94}</string>
    <key>spriteSourceSize</key>
    <string>{112,94}</string>
    <key>textureRect</key>
    <string>{{114,196},{112,94}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blobulord-move-attack (9)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{110,94}</string>
    <key>spriteSourceSize</key>
    <string>{110,94}</string>
    <key>textureRect</key>
    <string>{{112,292},{110,94}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{338,388}</string>
   <key>textureFileName</key>
   <string>blobulord-move-attack.png</string>
  </dict>
 </dict>
</plist>
