<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./blast-hammer (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-78,5}</string>
    <key>spriteSize</key>
    <string>{112,131}</string>
    <key>spriteSourceSize</key>
    <string>{272,152}</string>
    <key>textureRect</key>
    <string>{{406,0},{112,131}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blast-hammer (10)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{32,-17}</string>
    <key>spriteSize</key>
    <string>{198,117}</string>
    <key>spriteSourceSize</key>
    <string>{272,152}</string>
    <key>textureRect</key>
    <string>{{0,273},{198,117}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blast-hammer (11)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{35,-39}</string>
    <key>spriteSize</key>
    <string>{202,73}</string>
    <key>spriteSourceSize</key>
    <string>{272,152}</string>
    <key>textureRect</key>
    <string>{{316,276},{202,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blast-hammer (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-80,7}</string>
    <key>spriteSize</key>
    <string>{112,133}</string>
    <key>spriteSourceSize</key>
    <string>{272,152}</string>
    <key>textureRect</key>
    <string>{{202,276},{112,133}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blast-hammer (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-80,9}</string>
    <key>spriteSize</key>
    <string>{108,134}</string>
    <key>spriteSourceSize</key>
    <string>{272,152}</string>
    <key>textureRect</key>
    <string>{{316,351},{108,134}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blast-hammer (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-81,9}</string>
    <key>spriteSize</key>
    <string>{110,133}</string>
    <key>spriteSourceSize</key>
    <string>{272,152}</string>
    <key>textureRect</key>
    <string>{{386,138},{110,133}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blast-hammer (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-81,7}</string>
    <key>spriteSize</key>
    <string>{110,129}</string>
    <key>spriteSourceSize</key>
    <string>{272,152}</string>
    <key>textureRect</key>
    <string>{{426,351},{110,129}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blast-hammer (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-7}</string>
    <key>spriteSize</key>
    <string>{182,136}</string>
    <key>spriteSourceSize</key>
    <string>{272,152}</string>
    <key>textureRect</key>
    <string>{{202,138},{182,136}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blast-hammer (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,-8}</string>
    <key>spriteSize</key>
    <string>{204,136}</string>
    <key>spriteSourceSize</key>
    <string>{272,152}</string>
    <key>textureRect</key>
    <string>{{0,0},{204,136}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blast-hammer (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{21,-9}</string>
    <key>spriteSize</key>
    <string>{200,133}</string>
    <key>spriteSourceSize</key>
    <string>{272,152}</string>
    <key>textureRect</key>
    <string>{{0,138},{200,133}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blast-hammer (9)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{30,-10}</string>
    <key>spriteSize</key>
    <string>{198,131}</string>
    <key>spriteSourceSize</key>
    <string>{272,152}</string>
    <key>textureRect</key>
    <string>{{206,0},{198,131}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{538,487}</string>
   <key>textureFileName</key>
   <string>blast-hammer.png</string>
  </dict>
 </dict>
</plist>
