<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./explosion (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-18}</string>
    <key>spriteSize</key>
    <string>{30,22}</string>
    <key>spriteSourceSize</key>
    <string>{170,170}</string>
    <key>textureRect</key>
    <string>{{174,64},{30,22}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion (10)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-7}</string>
    <key>spriteSize</key>
    <string>{136,96}</string>
    <key>spriteSourceSize</key>
    <string>{170,170}</string>
    <key>textureRect</key>
    <string>{{0,0},{136,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-17}</string>
    <key>spriteSize</key>
    <string>{34,26}</string>
    <key>spriteSourceSize</key>
    <string>{170,170}</string>
    <key>textureRect</key>
    <string>{{138,64},{34,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-11}</string>
    <key>spriteSize</key>
    <string>{44,40}</string>
    <key>spriteSourceSize</key>
    <string>{170,170}</string>
    <key>textureRect</key>
    <string>{{200,230},{44,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-17}</string>
    <key>spriteSize</key>
    <string>{68,33}</string>
    <key>spriteSourceSize</key>
    <string>{170,170}</string>
    <key>textureRect</key>
    <string>{{130,230},{68,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-10}</string>
    <key>spriteSize</key>
    <string>{82,47}</string>
    <key>spriteSourceSize</key>
    <string>{170,170}</string>
    <key>textureRect</key>
    <string>{{130,181},{82,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,-10}</string>
    <key>spriteSize</key>
    <string>{116,62}</string>
    <key>spriteSourceSize</key>
    <string>{170,170}</string>
    <key>textureRect</key>
    <string>{{138,0},{116,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-8}</string>
    <key>spriteSize</key>
    <string>{128,74}</string>
    <key>spriteSourceSize</key>
    <string>{170,170}</string>
    <key>textureRect</key>
    <string>{{0,200},{128,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-2}</string>
    <key>spriteSize</key>
    <string>{124,81}</string>
    <key>spriteSourceSize</key>
    <string>{170,170}</string>
    <key>textureRect</key>
    <string>{{130,98},{124,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion (9)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,5}</string>
    <key>spriteSize</key>
    <string>{128,100}</string>
    <key>spriteSourceSize</key>
    <string>{170,170}</string>
    <key>textureRect</key>
    <string>{{0,98},{128,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{256,276}</string>
   <key>textureFileName</key>
   <string>explosion.png</string>
  </dict>
 </dict>
</plist>
