<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./explosion-wind (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{9,0}</string>
    <key>spriteSize</key>
    <string>{152,159}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{642,359},{152,159}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (10)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,4}</string>
    <key>spriteSize</key>
    <string>{162,154}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{508,184},{162,154}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (11)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{154,140}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{320,850},{154,140}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (12)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{136,126}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{796,797},{136,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (13)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-3}</string>
    <key>spriteSize</key>
    <string>{104,105}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{940,626},{104,105}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (14)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{86,91}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{950,359},{86,91}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (15)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{76,80}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{940,823},{76,80}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (16)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,1}</string>
    <key>spriteSize</key>
    <string>{70,72}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{978,184},{70,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (17)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,2}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{476,997},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (18)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,65}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{400,992},{64,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (19)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{70,68}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{978,258},{70,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,-3}</string>
    <key>spriteSize</key>
    <string>{158,161}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{526,0},{158,161}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (20)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{78,78}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{320,992},{78,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (21)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{84,84}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{706,982},{84,84}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (22)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,88}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{940,733},{88,88}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (23)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,88}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{616,982},{88,88}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (24)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-5}</string>
    <key>spriteSize</key>
    <string>{166,168}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{358,0},{166,168}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (25)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-5}</string>
    <key>spriteSize</key>
    <string>{180,182}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{0,0},{180,182}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (26)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-3}</string>
    <key>spriteSize</key>
    <string>{126,127}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{926,925},{126,127}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (27)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,4}</string>
    <key>spriteSize</key>
    <string>{110,115}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{940,509},{110,115}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (28)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,5}</string>
    <key>spriteSize</key>
    <string>{128,131}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{796,925},{128,131}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (29)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,5}</string>
    <key>spriteSize</key>
    <string>{142,145}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{796,509},{142,145}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-10,1}</string>
    <key>spriteSize</key>
    <string>{154,158}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{672,184},{154,158}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (30)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,5}</string>
    <key>spriteSize</key>
    <string>{150,156}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{468,683},{150,156}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (31)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,5}</string>
    <key>spriteSize</key>
    <string>{154,160}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{486,359},{154,160}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (32)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,5}</string>
    <key>spriteSize</key>
    <string>{160,165}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{164,359},{160,165}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (33)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,5}</string>
    <key>spriteSize</key>
    <string>{162,168}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{0,359},{162,168}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (34)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,9}</string>
    <key>spriteSize</key>
    <string>{166,162}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{340,184},{166,162}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (35)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,10}</string>
    <key>spriteSize</key>
    <string>{150,153}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{842,0},{150,153}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (36)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,2}</string>
    <key>spriteSize</key>
    <string>{140,130}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{616,850},{140,130}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (37)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,1}</string>
    <key>spriteSize</key>
    <string>{142,139}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{796,656},{142,139}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (38)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{138,145}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{476,850},{138,145}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (39)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{152,148}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{796,359},{152,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,-5}</string>
    <key>spriteSize</key>
    <string>{142,149}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{642,684},{142,149}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (40)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-3}</string>
    <key>spriteSize</key>
    <string>{146,156}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{0,855},{146,156}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (41)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-5}</string>
    <key>spriteSize</key>
    <string>{148,162}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{642,520},{148,162}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (42)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-3}</string>
    <key>spriteSize</key>
    <string>{154,161}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{164,526},{154,161}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (43)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-2}</string>
    <key>spriteSize</key>
    <string>{152,161}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{0,692},{152,161}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (44)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{156,155}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{480,526},{156,155}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (45)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{158,155}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{320,526},{158,155}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (46)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{154,159}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{686,0},{154,159}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (47)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,0}</string>
    <key>spriteSize</key>
    <string>{156,161}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{0,529},{156,161}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (48)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{158,162}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{326,359},{158,162}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (49)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-5}</string>
    <key>spriteSize</key>
    <string>{170,173}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{0,184},{170,173}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-3}</string>
    <key>spriteSize</key>
    <string>{166,170}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{172,184},{166,170}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (50)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,-6}</string>
    <key>spriteSize</key>
    <string>{174,174}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{182,0},{174,174}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,4}</string>
    <key>spriteSize</key>
    <string>{146,165}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{320,683},{146,165}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,5}</string>
    <key>spriteSize</key>
    <string>{148,154}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{828,184},{148,154}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,5}</string>
    <key>spriteSize</key>
    <string>{144,168}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{164,689},{144,168}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion-wind (9)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,1}</string>
    <key>spriteSize</key>
    <string>{146,153}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{164,859},{146,153}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1054,1072}</string>
   <key>textureFileName</key>
   <string>explosion-wind.png</string>
  </dict>
 </dict>
</plist>
