<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./gate-1 (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{68,68}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{74,444},{68,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (10)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,2}</string>
    <key>spriteSize</key>
    <string>{70,68}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{228,288},{70,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (11)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{72,61}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{376,490},{72,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (12)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,2}</string>
    <key>spriteSize</key>
    <string>{70,70}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{150,214},{70,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (13)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-1}</string>
    <key>spriteSize</key>
    <string>{72,63}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{0,507},{72,63}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (14)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-1}</string>
    <key>spriteSize</key>
    <string>{70,65}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{300,418},{70,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (15)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-2}</string>
    <key>spriteSize</key>
    <string>{72,66}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{374,0},{72,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (16)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{74,65}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{300,144},{74,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (17)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{66,65}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{516,355},{66,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (18)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{66,67}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{228,498},{66,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (19)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{68,69}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{74,373},{68,69}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{70,67}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{376,215},{70,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (20)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{68,64}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{450,490},{68,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (21)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-3}</string>
    <key>spriteSize</key>
    <string>{68,65}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{300,485},{68,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (22)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-3}</string>
    <key>spriteSize</key>
    <string>{64,67}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{518,286},{64,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (23)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-3}</string>
    <key>spriteSize</key>
    <string>{70,68}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{0,370},{70,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (24)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{66,66}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{516,213},{66,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (25)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{68,65}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{446,355},{68,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (26)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{68,66}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{376,355},{68,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (27)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{68,65}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{376,423},{68,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (28)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{70,66}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{300,350},{70,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (29)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{72,67}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{150,286},{72,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-2}</string>
    <key>spriteSize</key>
    <string>{68,69}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{370,71},{68,69}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (30)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{72,69}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{0,225},{72,69}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (31)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{74,69}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{150,70},{74,69}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (32)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,0}</string>
    <key>spriteSize</key>
    <string>{68,66}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{514,71},{68,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (33)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{76,68}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{150,0},{76,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (34)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-1}</string>
    <key>spriteSize</key>
    <string>{72,65}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{0,440},{72,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (35)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{66,67}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{516,144},{66,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (36)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{68,69}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{376,144},{68,69}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (37)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-1}</string>
    <key>spriteSize</key>
    <string>{68,69}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{150,355},{68,69}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (38)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{70,71}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{150,141},{70,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (39)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{68,72}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{0,296},{68,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-2}</string>
    <key>spriteSize</key>
    <string>{70,68}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{300,211},{70,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (40)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{68,71}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{228,215},{68,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (41)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{70,70}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{228,143},{70,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (42)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{72,72}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{74,76},{72,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (43)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{68,67}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{446,144},{68,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (44)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{68,73}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{74,225},{68,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (45)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{70,69}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{302,0},{70,69}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (46)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{70,63}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{446,422},{70,63}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (47)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{72,65}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{440,71},{72,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (48)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{72,65}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{448,0},{72,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (49)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{70,67}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{228,358},{70,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{66,69}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{448,215},{66,69}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (50)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{72,69}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{228,0},{72,69}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (51)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,0}</string>
    <key>spriteSize</key>
    <string>{66,69}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{228,427},{66,69}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (52)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,0}</string>
    <key>spriteSize</key>
    <string>{68,71}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{74,300},{68,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (53)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,1}</string>
    <key>spriteSize</key>
    <string>{66,69}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{376,284},{66,69}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (54)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,0}</string>
    <key>spriteSize</key>
    <string>{70,73}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{0,150},{70,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (55)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,2}</string>
    <key>spriteSize</key>
    <string>{72,72}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{0,76},{72,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (56)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,1}</string>
    <key>spriteSize</key>
    <string>{70,70}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{228,71},{70,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (57)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,71}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{150,494},{64,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (58)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,1}</string>
    <key>spriteSize</key>
    <string>{72,72}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{76,0},{72,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (59)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,1}</string>
    <key>spriteSize</key>
    <string>{74,74}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{0,0},{74,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{68,71}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{300,71},{68,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (60)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{68,66}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{448,286},{68,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (61)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{68,68}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{74,444},{68,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{70,72}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{72,150},{70,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,1}</string>
    <key>spriteSize</key>
    <string>{70,67}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{300,281},{70,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./gate-1 (9)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,2}</string>
    <key>spriteSize</key>
    <string>{70,66}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{150,426},{70,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{584,572}</string>
   <key>textureFileName</key>
   <string>gate-1.png</string>
  </dict>
 </dict>
</plist>
