<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./serpent-screw (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{31,18}</string>
    <key>spriteSize</key>
    <string>{114,64}</string>
    <key>spriteSourceSize</key>
    <string>{208,111}</string>
    <key>textureRect</key>
    <string>{{298,318},{114,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./serpent-screw (10)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-71,-13}</string>
    <key>spriteSize</key>
    <string>{50,60}</string>
    <key>spriteSourceSize</key>
    <string>{208,111}</string>
    <key>textureRect</key>
    <string>{{376,214},{50,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./serpent-screw (11)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-84,-3}</string>
    <key>spriteSize</key>
    <string>{28,46}</string>
    <key>spriteSourceSize</key>
    <string>{208,111}</string>
    <key>textureRect</key>
    <string>{{394,0},{28,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./serpent-screw (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{33,4}</string>
    <key>spriteSize</key>
    <string>{126,94}</string>
    <key>spriteSourceSize</key>
    <string>{208,111}</string>
    <key>textureRect</key>
    <string>{{170,318},{126,94}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./serpent-screw (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{13,-4}</string>
    <key>spriteSize</key>
    <string>{168,101}</string>
    <key>spriteSourceSize</key>
    <string>{208,111}</string>
    <key>textureRect</key>
    <string>{{0,318},{168,101}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./serpent-screw (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-4}</string>
    <key>spriteSize</key>
    <string>{204,103}</string>
    <key>spriteSourceSize</key>
    <string>{208,111}</string>
    <key>textureRect</key>
    <string>{{0,0},{204,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./serpent-screw (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{200,93}</string>
    <key>spriteSourceSize</key>
    <string>{208,111}</string>
    <key>textureRect</key>
    <string>{{206,106},{200,93}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./serpent-screw (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,2}</string>
    <key>spriteSize</key>
    <string>{186,92}</string>
    <key>spriteSourceSize</key>
    <string>{208,111}</string>
    <key>textureRect</key>
    <string>{{188,214},{186,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./serpent-screw (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,1}</string>
    <key>spriteSize</key>
    <string>{186,102}</string>
    <key>spriteSourceSize</key>
    <string>{208,111}</string>
    <key>textureRect</key>
    <string>{{0,214},{186,102}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./serpent-screw (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{186,104}</string>
    <key>spriteSourceSize</key>
    <string>{208,111}</string>
    <key>textureRect</key>
    <string>{{206,0},{186,104}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./serpent-screw (9)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,2}</string>
    <key>spriteSize</key>
    <string>{190,107}</string>
    <key>spriteSourceSize</key>
    <string>{208,111}</string>
    <key>textureRect</key>
    <string>{{0,105},{190,107}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{428,421}</string>
   <key>textureFileName</key>
   <string>serpent-screw.png</string>
  </dict>
 </dict>
</plist>
