<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./shark (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{62,53}</string>
    <key>spriteSourceSize</key>
    <string>{62,53}</string>
    <key>textureRect</key>
    <string>{{238,305},{62,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shark (10)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{105,75}</string>
    <key>spriteSourceSize</key>
    <string>{105,75}</string>
    <key>textureRect</key>
    <string>{{121,0},{105,75}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shark (11)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,75}</string>
    <key>spriteSourceSize</key>
    <string>{106,75}</string>
    <key>textureRect</key>
    <string>{{0,70},{106,75}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shark (12)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{110,68}</string>
    <key>spriteSourceSize</key>
    <string>{110,68}</string>
    <key>textureRect</key>
    <string>{{121,153},{110,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shark (13)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{119,63}</string>
    <key>spriteSourceSize</key>
    <string>{119,63}</string>
    <key>textureRect</key>
    <string>{{0,147},{119,63}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shark (14)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{119,68}</string>
    <key>spriteSourceSize</key>
    <string>{119,68}</string>
    <key>textureRect</key>
    <string>{{0,0},{119,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shark (15)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{120,62}</string>
    <key>spriteSourceSize</key>
    <string>{120,62}</string>
    <key>textureRect</key>
    <string>{{228,0},{120,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shark (16)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{119,61}</string>
    <key>spriteSourceSize</key>
    <string>{119,61}</string>
    <key>textureRect</key>
    <string>{{0,212},{119,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shark (17)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{115,45}</string>
    <key>spriteSourceSize</key>
    <string>{115,45}</string>
    <key>textureRect</key>
    <string>{{121,305},{115,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shark (18)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{95,32}</string>
    <key>spriteSourceSize</key>
    <string>{95,32}</string>
    <key>textureRect</key>
    <string>{{302,305},{95,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shark (19)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{73,19}</string>
    <key>spriteSourceSize</key>
    <string>{73,19}</string>
    <key>textureRect</key>
    <string>{{285,279},{73,19}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shark (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{75,77}</string>
    <key>spriteSourceSize</key>
    <string>{75,77}</string>
    <key>textureRect</key>
    <string>{{315,64},{75,77}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shark (20)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{44,14}</string>
    <key>spriteSourceSize</key>
    <string>{44,14}</string>
    <key>textureRect</key>
    <string>{{350,0},{44,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shark (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,80}</string>
    <key>spriteSourceSize</key>
    <string>{81,80}</string>
    <key>textureRect</key>
    <string>{{121,223},{81,80}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shark (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{81,80}</string>
    <key>spriteSourceSize</key>
    <string>{81,80}</string>
    <key>textureRect</key>
    <string>{{0,275},{81,80}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shark (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{85,78}</string>
    <key>spriteSourceSize</key>
    <string>{85,78}</string>
    <key>textureRect</key>
    <string>{{228,64},{85,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shark (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{79,74}</string>
    <key>spriteSourceSize</key>
    <string>{79,74}</string>
    <key>textureRect</key>
    <string>{{204,223},{79,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shark (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{68,54}</string>
    <key>spriteSourceSize</key>
    <string>{68,54}</string>
    <key>textureRect</key>
    <string>{{285,223},{68,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shark (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{101,61}</string>
    <key>spriteSourceSize</key>
    <string>{101,61}</string>
    <key>textureRect</key>
    <string>{{233,153},{101,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shark (9)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{102,74}</string>
    <key>spriteSourceSize</key>
    <string>{102,74}</string>
    <key>textureRect</key>
    <string>{{121,77},{102,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{399,360}</string>
   <key>textureFileName</key>
   <string>shark.png</string>
  </dict>
 </dict>
</plist>
