<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./teleport (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{38,22}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{172,292},{38,22}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./teleport (10)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{54,54}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{60,248},{54,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./teleport (11)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{54,54}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{248,62},{54,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./teleport (12)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{54,54}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{180,188},{54,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./teleport (13)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{54,54}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{240,128},{54,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./teleport (14)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{58,58}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{0,128},{58,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./teleport (15)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{58,58}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{60,128},{58,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./teleport (16)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{58,58}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{128,62},{58,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./teleport (17)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{58,58}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{120,128},{58,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./teleport (18)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{60,60}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{128,0},{60,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./teleport (19)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{62,62}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{0,0},{62,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./teleport (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{38,22}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{212,292},{38,22}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./teleport (20)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{62,62}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{64,0},{62,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./teleport (21)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{62,62}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{0,64},{62,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./teleport (22)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{62,62}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{64,64},{62,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./teleport (23)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{58,58}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{0,188},{58,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./teleport (24)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{58,58}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{190,0},{58,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./teleport (25)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{58,58}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{60,188},{58,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./teleport (26)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{58,58}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{188,62},{58,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./teleport (27)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{58,58}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{180,128},{58,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./teleport (28)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{58,58}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{120,188},{58,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./teleport (29)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{58,58}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{0,248},{58,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./teleport (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{38,22}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{252,292},{38,22}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./teleport (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{38,42}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{172,248},{38,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./teleport (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{38,42}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{212,248},{38,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./teleport (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{38,42}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{252,248},{38,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./teleport (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{54,42}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{236,188},{54,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./teleport (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{54,44}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{116,248},{54,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./teleport (9)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{54,54}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{250,0},{54,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{306,316}</string>
   <key>textureFileName</key>
   <string>teleport.png</string>
  </dict>
 </dict>
</plist>
