<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./water-ball-impact (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{56,54}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{62,123},{56,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./water-ball-impact (10)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,-5}</string>
    <key>spriteSize</key>
    <string>{42,48}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{128,66},{42,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./water-ball-impact (11)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,-5}</string>
    <key>spriteSize</key>
    <string>{42,48}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{120,123},{42,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./water-ball-impact (12)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,-2}</string>
    <key>spriteSize</key>
    <string>{42,39}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{164,123},{42,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./water-ball-impact (13)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{12,-3}</string>
    <key>spriteSize</key>
    <string>{40,32}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{164,164},{40,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./water-ball-impact (14)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{9,-2}</string>
    <key>spriteSize</key>
    <string>{34,23}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{120,173},{34,23}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./water-ball-impact (15)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,-4}</string>
    <key>spriteSize</key>
    <string>{4,17}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{52,129},{4,17}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./water-ball-impact (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-1}</string>
    <key>spriteSize</key>
    <string>{58,58}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{124,0},{58,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./water-ball-impact (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{60,61}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{0,66},{60,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./water-ball-impact (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,0}</string>
    <key>spriteSize</key>
    <string>{50,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{0,129},{50,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./water-ball-impact (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{58,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{64,0},{58,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./water-ball-impact (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{62,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{0,0},{62,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./water-ball-impact (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,4}</string>
    <key>spriteSize</key>
    <string>{64,55}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{62,66},{64,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./water-ball-impact (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{10,-1}</string>
    <key>spriteSize</key>
    <string>{42,45}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{172,66},{42,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./water-ball-impact (9)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,-2}</string>
    <key>spriteSize</key>
    <string>{42,47}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{184,0},{42,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{228,198}</string>
   <key>textureFileName</key>
   <string>water-ball-impact.png</string>
  </dict>
 </dict>
</plist>
