<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./water-ball (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{20,0}</string>
    <key>spriteSize</key>
    <string>{8,7}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{106,165},{8,7}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./water-ball (10)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,1}</string>
    <key>spriteSize</key>
    <string>{54,37}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{58,39},{54,37}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./water-ball (11)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,2}</string>
    <key>spriteSize</key>
    <string>{56,38}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{0,0},{56,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./water-ball (12)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,1}</string>
    <key>spriteSize</key>
    <string>{56,37}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{0,40},{56,37}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./water-ball (13)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,1}</string>
    <key>spriteSize</key>
    <string>{56,37}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{58,0},{56,37}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./water-ball (14)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,2}</string>
    <key>spriteSize</key>
    <string>{52,28}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{52,148},{52,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./water-ball (15)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,2}</string>
    <key>spriteSize</key>
    <string>{56,30}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{116,0},{56,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./water-ball (16)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,2}</string>
    <key>spriteSize</key>
    <string>{56,28}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{116,64},{56,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./water-ball (17)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,2}</string>
    <key>spriteSize</key>
    <string>{56,30}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{0,116},{56,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./water-ball (18)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,1}</string>
    <key>spriteSize</key>
    <string>{56,25}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{0,180},{56,25}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./water-ball (19)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,1}</string>
    <key>spriteSize</key>
    <string>{56,25}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{58,180},{56,25}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./water-ball (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{21,0}</string>
    <key>spriteSize</key>
    <string>{6,15}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{106,148},{6,15}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./water-ball (20)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,2}</string>
    <key>spriteSize</key>
    <string>{56,26}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{116,94},{56,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./water-ball (21)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,3}</string>
    <key>spriteSize</key>
    <string>{54,26}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{116,122},{54,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./water-ball (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{17,1}</string>
    <key>spriteSize</key>
    <string>{14,18}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{150,150},{14,18}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./water-ball (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,1}</string>
    <key>spriteSize</key>
    <string>{32,30}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{116,150},{32,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./water-ball (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,2}</string>
    <key>spriteSize</key>
    <string>{50,30}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{0,148},{50,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./water-ball (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,2}</string>
    <key>spriteSize</key>
    <string>{54,30}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{116,32},{54,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./water-ball (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,2}</string>
    <key>spriteSize</key>
    <string>{54,30}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{58,116},{54,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./water-ball (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,2}</string>
    <key>spriteSize</key>
    <string>{54,32}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{54,79},{54,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./water-ball (9)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{52,35}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{0,79},{52,35}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{174,207}</string>
   <key>textureFileName</key>
   <string>water-ball.png</string>
  </dict>
 </dict>
</plist>
