<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./big-gentleman-pig-die (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{78,55}</string>
    <key>spriteSourceSize</key>
    <string>{90,58}</string>
    <key>textureRect</key>
    <string>{{0,0},{78,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-gentleman-pig-die (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{76,55}</string>
    <key>spriteSourceSize</key>
    <string>{90,58}</string>
    <key>textureRect</key>
    <string>{{0,57},{76,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-gentleman-pig-die (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-12}</string>
    <key>spriteSize</key>
    <string>{82,34}</string>
    <key>spriteSourceSize</key>
    <string>{90,58}</string>
    <key>textureRect</key>
    <string>{{80,117},{82,34}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-gentleman-pig-die (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-9}</string>
    <key>spriteSize</key>
    <string>{88,39}</string>
    <key>spriteSourceSize</key>
    <string>{90,58}</string>
    <key>textureRect</key>
    <string>{{80,0},{88,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-gentleman-pig-die (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-11}</string>
    <key>spriteSize</key>
    <string>{90,36}</string>
    <key>spriteSourceSize</key>
    <string>{90,58}</string>
    <key>textureRect</key>
    <string>{{80,41},{90,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-gentleman-pig-die (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-11}</string>
    <key>spriteSize</key>
    <string>{90,36}</string>
    <key>spriteSourceSize</key>
    <string>{90,58}</string>
    <key>textureRect</key>
    <string>{{80,79},{90,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{172,153}</string>
   <key>textureFileName</key>
   <string>big-gentleman-pig-die.png</string>
  </dict>
 </dict>
</plist>
