<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./big-gentleman-pig-idle (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{80,54}</string>
    <key>spriteSourceSize</key>
    <string>{90,58}</string>
    <key>textureRect</key>
    <string>{{0,0},{80,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-gentleman-pig-idle (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{80,53}</string>
    <key>spriteSourceSize</key>
    <string>{90,58}</string>
    <key>textureRect</key>
    <string>{{82,56},{80,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-gentleman-pig-idle (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{80,53}</string>
    <key>spriteSourceSize</key>
    <string>{90,58}</string>
    <key>textureRect</key>
    <string>{{0,112},{80,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-gentleman-pig-idle (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{80,53}</string>
    <key>spriteSourceSize</key>
    <string>{90,58}</string>
    <key>textureRect</key>
    <string>{{82,111},{80,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-gentleman-pig-idle (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{80,53}</string>
    <key>spriteSourceSize</key>
    <string>{90,58}</string>
    <key>textureRect</key>
    <string>{{82,166},{80,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-gentleman-pig-idle (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{80,54}</string>
    <key>spriteSourceSize</key>
    <string>{90,58}</string>
    <key>textureRect</key>
    <string>{{0,56},{80,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-gentleman-pig-idle (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{80,54}</string>
    <key>spriteSourceSize</key>
    <string>{90,58}</string>
    <key>textureRect</key>
    <string>{{82,0},{80,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{164,221}</string>
   <key>textureFileName</key>
   <string>big-gentleman-pig-idle.png</string>
  </dict>
 </dict>
</plist>
