<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./big-fire-pig-attack (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-12}</string>
    <key>spriteSize</key>
    <string>{66,56}</string>
    <key>spriteSourceSize</key>
    <string>{90,81}</string>
    <key>textureRect</key>
    <string>{{0,0},{66,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-fire-pig-attack (10)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-11}</string>
    <key>spriteSize</key>
    <string>{58,58}</string>
    <key>spriteSourceSize</key>
    <string>{90,81}</string>
    <key>textureRect</key>
    <string>{{130,58},{58,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-fire-pig-attack (11)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-12}</string>
    <key>spriteSize</key>
    <string>{62,56}</string>
    <key>spriteSourceSize</key>
    <string>{90,81}</string>
    <key>textureRect</key>
    <string>{{68,120},{62,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-fire-pig-attack (12)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-12}</string>
    <key>spriteSize</key>
    <string>{64,56}</string>
    <key>spriteSourceSize</key>
    <string>{90,81}</string>
    <key>textureRect</key>
    <string>{{0,116},{64,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-fire-pig-attack (13)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-12}</string>
    <key>spriteSize</key>
    <string>{66,56}</string>
    <key>spriteSourceSize</key>
    <string>{90,81}</string>
    <key>textureRect</key>
    <string>{{68,0},{66,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-fire-pig-attack (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,-12}</string>
    <key>spriteSize</key>
    <string>{66,56}</string>
    <key>spriteSourceSize</key>
    <string>{90,81}</string>
    <key>textureRect</key>
    <string>{{0,58},{66,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-fire-pig-attack (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,-12}</string>
    <key>spriteSize</key>
    <string>{62,56}</string>
    <key>spriteSourceSize</key>
    <string>{90,81}</string>
    <key>textureRect</key>
    <string>{{136,0},{62,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-fire-pig-attack (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,-12}</string>
    <key>spriteSize</key>
    <string>{56,56}</string>
    <key>spriteSourceSize</key>
    <string>{90,81}</string>
    <key>textureRect</key>
    <string>{{132,120},{56,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-fire-pig-attack (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,-13}</string>
    <key>spriteSize</key>
    <string>{58,55}</string>
    <key>spriteSourceSize</key>
    <string>{90,81}</string>
    <key>textureRect</key>
    <string>{{0,174},{58,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-fire-pig-attack (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{10,-13}</string>
    <key>spriteSize</key>
    <string>{54,54}</string>
    <key>spriteSourceSize</key>
    <string>{90,81}</string>
    <key>textureRect</key>
    <string>{{68,178},{54,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-fire-pig-attack (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{10,-13}</string>
    <key>spriteSize</key>
    <string>{54,54}</string>
    <key>spriteSourceSize</key>
    <string>{90,81}</string>
    <key>textureRect</key>
    <string>{{124,178},{54,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-fire-pig-attack (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{14,-13}</string>
    <key>spriteSize</key>
    <string>{46,54}</string>
    <key>spriteSourceSize</key>
    <string>{90,81}</string>
    <key>textureRect</key>
    <string>{{180,178},{46,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-fire-pig-attack (9)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-10}</string>
    <key>spriteSize</key>
    <string>{60,60}</string>
    <key>spriteSourceSize</key>
    <string>{90,81}</string>
    <key>textureRect</key>
    <string>{{68,58},{60,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{228,234}</string>
   <key>textureFileName</key>
   <string>big-fire-pig-attack.png</string>
  </dict>
 </dict>
</plist>
