<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./big-gentleman-pig-attack (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,-2}</string>
    <key>spriteSize</key>
    <string>{64,53}</string>
    <key>spriteSourceSize</key>
    <string>{90,58}</string>
    <key>textureRect</key>
    <string>{{72,0},{64,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-gentleman-pig-attack (10)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,-2}</string>
    <key>spriteSize</key>
    <string>{54,54}</string>
    <key>spriteSourceSize</key>
    <string>{90,58}</string>
    <key>textureRect</key>
    <string>{{132,56},{54,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-gentleman-pig-attack (11)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-2}</string>
    <key>spriteSize</key>
    <string>{50,54}</string>
    <key>spriteSourceSize</key>
    <string>{90,58}</string>
    <key>textureRect</key>
    <string>{{138,0},{50,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-gentleman-pig-attack (12)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{42,55}</string>
    <key>spriteSourceSize</key>
    <string>{90,58}</string>
    <key>textureRect</key>
    <string>{{108,167},{42,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-gentleman-pig-attack (13)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{46,55}</string>
    <key>spriteSourceSize</key>
    <string>{90,58}</string>
    <key>textureRect</key>
    <string>{{60,167},{46,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-gentleman-pig-attack (14)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-1}</string>
    <key>spriteSize</key>
    <string>{66,55}</string>
    <key>spriteSourceSize</key>
    <string>{90,58}</string>
    <key>textureRect</key>
    <string>{{0,56},{66,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-gentleman-pig-attack (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-7,-2}</string>
    <key>spriteSize</key>
    <string>{62,53}</string>
    <key>spriteSourceSize</key>
    <string>{90,58}</string>
    <key>textureRect</key>
    <string>{{68,56},{62,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-gentleman-pig-attack (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,-3}</string>
    <key>spriteSize</key>
    <string>{62,52}</string>
    <key>spriteSourceSize</key>
    <string>{90,58}</string>
    <key>textureRect</key>
    <string>{{60,113},{62,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-gentleman-pig-attack (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,-3}</string>
    <key>spriteSize</key>
    <string>{62,52}</string>
    <key>spriteSourceSize</key>
    <string>{90,58}</string>
    <key>textureRect</key>
    <string>{{124,113},{62,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-gentleman-pig-attack (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,-3}</string>
    <key>spriteSize</key>
    <string>{62,52}</string>
    <key>spriteSourceSize</key>
    <string>{90,58}</string>
    <key>textureRect</key>
    <string>{{124,113},{62,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-gentleman-pig-attack (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-10,-1}</string>
    <key>spriteSize</key>
    <string>{58,55}</string>
    <key>spriteSourceSize</key>
    <string>{90,58}</string>
    <key>textureRect</key>
    <string>{{0,171},{58,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-gentleman-pig-attack (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-9,-1}</string>
    <key>spriteSize</key>
    <string>{58,56}</string>
    <key>spriteSourceSize</key>
    <string>{90,58}</string>
    <key>textureRect</key>
    <string>{{0,113},{58,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-gentleman-pig-attack (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-9,-1}</string>
    <key>spriteSize</key>
    <string>{58,56}</string>
    <key>spriteSourceSize</key>
    <string>{90,58}</string>
    <key>textureRect</key>
    <string>{{0,113},{58,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-gentleman-pig-attack (9)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{70,54}</string>
    <key>spriteSourceSize</key>
    <string>{90,58}</string>
    <key>textureRect</key>
    <string>{{0,0},{70,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{190,228}</string>
   <key>textureFileName</key>
   <string>big-gentleman-pig-attack.png</string>
  </dict>
 </dict>
</plist>
