<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./big-fire-pig-spawn (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-12}</string>
    <key>spriteSize</key>
    <string>{66,56}</string>
    <key>spriteSourceSize</key>
    <string>{90,81}</string>
    <key>textureRect</key>
    <string>{{0,0},{66,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-fire-pig-spawn (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-12}</string>
    <key>spriteSize</key>
    <string>{66,56}</string>
    <key>spriteSourceSize</key>
    <string>{90,81}</string>
    <key>textureRect</key>
    <string>{{0,58},{66,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-fire-pig-spawn (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-12}</string>
    <key>spriteSize</key>
    <string>{66,56}</string>
    <key>spriteSourceSize</key>
    <string>{90,81}</string>
    <key>textureRect</key>
    <string>{{68,0},{66,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-fire-pig-spawn (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-13}</string>
    <key>spriteSize</key>
    <string>{66,55}</string>
    <key>spriteSourceSize</key>
    <string>{90,81}</string>
    <key>textureRect</key>
    <string>{{0,116},{66,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-fire-pig-spawn (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-13}</string>
    <key>spriteSize</key>
    <string>{66,55}</string>
    <key>spriteSourceSize</key>
    <string>{90,81}</string>
    <key>textureRect</key>
    <string>{{68,116},{66,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-fire-pig-spawn (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-12}</string>
    <key>spriteSize</key>
    <string>{66,56}</string>
    <key>spriteSourceSize</key>
    <string>{90,81}</string>
    <key>textureRect</key>
    <string>{{68,58},{66,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{136,173}</string>
   <key>textureFileName</key>
   <string>big-fire-pig-spawn.png</string>
  </dict>
 </dict>
</plist>
