<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./big-fire-pig-die (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-12}</string>
    <key>spriteSize</key>
    <string>{66,56}</string>
    <key>spriteSourceSize</key>
    <string>{90,81}</string>
    <key>textureRect</key>
    <string>{{0,165},{66,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-fire-pig-die (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-11}</string>
    <key>spriteSize</key>
    <string>{66,58}</string>
    <key>spriteSourceSize</key>
    <string>{90,81}</string>
    <key>textureRect</key>
    <string>{{166,154},{66,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-fire-pig-die (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-6}</string>
    <key>spriteSize</key>
    <string>{66,69}</string>
    <key>spriteSourceSize</key>
    <string>{90,81}</string>
    <key>textureRect</key>
    <string>{{166,83},{66,69}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-fire-pig-die (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,0}</string>
    <key>spriteSize</key>
    <string>{72,80}</string>
    <key>spriteSourceSize</key>
    <string>{90,81}</string>
    <key>textureRect</key>
    <string>{{0,83},{72,80}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-fire-pig-die (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{88,81}</string>
    <key>spriteSourceSize</key>
    <string>{90,81}</string>
    <key>textureRect</key>
    <string>{{0,0},{88,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-fire-pig-die (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-10}</string>
    <key>spriteSize</key>
    <string>{90,60}</string>
    <key>spriteSourceSize</key>
    <string>{90,81}</string>
    <key>textureRect</key>
    <string>{{74,83},{90,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-fire-pig-die (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-10}</string>
    <key>spriteSize</key>
    <string>{88,60}</string>
    <key>spriteSourceSize</key>
    <string>{90,81}</string>
    <key>textureRect</key>
    <string>{{74,145},{88,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./big-fire-pig-die (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-8}</string>
    <key>spriteSize</key>
    <string>{88,64}</string>
    <key>spriteSourceSize</key>
    <string>{90,81}</string>
    <key>textureRect</key>
    <string>{{90,0},{88,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{234,223}</string>
   <key>textureFileName</key>
   <string>big-fire-pig-die.png</string>
  </dict>
 </dict>
</plist>
