<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./blobulord-die (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,56}</string>
    <key>spriteSourceSize</key>
    <string>{50,56}</string>
    <key>textureRect</key>
    <string>{{124,75},{50,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blobulord-die (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{22,10}</string>
    <key>spriteSourceSize</key>
    <string>{22,10}</string>
    <key>textureRect</key>
    <string>{{0,147},{22,10}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blobulord-die (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,21}</string>
    <key>spriteSourceSize</key>
    <string>{24,21}</string>
    <key>textureRect</key>
    <string>{{64,143},{24,21}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blobulord-die (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,31}</string>
    <key>spriteSourceSize</key>
    <string>{32,31}</string>
    <key>textureRect</key>
    <string>{{124,133},{32,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blobulord-die (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{47,61}</string>
    <key>spriteSourceSize</key>
    <string>{47,61}</string>
    <key>textureRect</key>
    <string>{{134,0},{47,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blobulord-die (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{58,66}</string>
    <key>spriteSourceSize</key>
    <string>{58,66}</string>
    <key>textureRect</key>
    <string>{{64,75},{58,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blobulord-die (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{62,70}</string>
    <key>spriteSourceSize</key>
    <string>{62,70}</string>
    <key>textureRect</key>
    <string>{{0,75},{62,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blobulord-die (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,72}</string>
    <key>spriteSourceSize</key>
    <string>{64,72}</string>
    <key>textureRect</key>
    <string>{{68,0},{64,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blobulord-die (9)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{66,73}</string>
    <key>spriteSourceSize</key>
    <string>{66,73}</string>
    <key>textureRect</key>
    <string>{{0,0},{66,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{183,166}</string>
   <key>textureFileName</key>
   <string>blobulord-die.png</string>
  </dict>
 </dict>
</plist>
