<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./blobulord-spawn (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{17,14}</string>
    <key>spriteSourceSize</key>
    <string>{17,14}</string>
    <key>textureRect</key>
    <string>{{96,157},{17,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blobulord-spawn (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{26,26}</string>
    <key>spriteSourceSize</key>
    <string>{26,26}</string>
    <key>textureRect</key>
    <string>{{68,157},{26,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blobulord-spawn (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{49,33}</string>
    <key>spriteSourceSize</key>
    <string>{49,33}</string>
    <key>textureRect</key>
    <string>{{132,147},{49,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blobulord-spawn (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{58,41}</string>
    <key>spriteSourceSize</key>
    <string>{58,41}</string>
    <key>textureRect</key>
    <string>{{132,104},{58,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blobulord-spawn (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{62,51}</string>
    <key>spriteSourceSize</key>
    <string>{62,51}</string>
    <key>textureRect</key>
    <string>{{68,104},{62,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blobulord-spawn (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{66,73}</string>
    <key>spriteSourceSize</key>
    <string>{66,73}</string>
    <key>textureRect</key>
    <string>{{0,104},{66,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blobulord-spawn (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{71,95}</string>
    <key>spriteSourceSize</key>
    <string>{71,95}</string>
    <key>textureRect</key>
    <string>{{114,0},{71,95}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blobulord-spawn (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,102}</string>
    <key>spriteSourceSize</key>
    <string>{112,102}</string>
    <key>textureRect</key>
    <string>{{0,0},{112,102}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{192,185}</string>
   <key>textureFileName</key>
   <string>blobulord-spawn.png</string>
  </dict>
 </dict>
</plist>
