<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./blobulord-attack (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{108,103}</string>
    <key>spriteSourceSize</key>
    <string>{108,103}</string>
    <key>textureRect</key>
    <string>{{128,0},{108,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blobulord-attack (10)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{126,88}</string>
    <key>spriteSourceSize</key>
    <string>{126,88}</string>
    <key>textureRect</key>
    <string>{{128,105},{126,88}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blobulord-attack (11)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{126,88}</string>
    <key>spriteSourceSize</key>
    <string>{126,88}</string>
    <key>textureRect</key>
    <string>{{0,186},{126,88}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blobulord-attack (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{102,107}</string>
    <key>spriteSourceSize</key>
    <string>{102,107}</string>
    <key>textureRect</key>
    <string>{{0,276},{102,107}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blobulord-attack (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{98,112}</string>
    <key>spriteSourceSize</key>
    <string>{98,112}</string>
    <key>textureRect</key>
    <string>{{128,195},{98,112}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blobulord-attack (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{90,117}</string>
    <key>spriteSourceSize</key>
    <string>{90,117}</string>
    <key>textureRect</key>
    <string>{{348,225},{90,117}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blobulord-attack (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{90,118}</string>
    <key>spriteSourceSize</key>
    <string>{90,118}</string>
    <key>textureRect</key>
    <string>{{348,105},{90,118}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blobulord-attack (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{90,119}</string>
    <key>spriteSourceSize</key>
    <string>{90,119}</string>
    <key>textureRect</key>
    <string>{{256,227},{90,119}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blobulord-attack (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{90,120}</string>
    <key>spriteSourceSize</key>
    <string>{90,120}</string>
    <key>textureRect</key>
    <string>{{256,105},{90,120}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blobulord-attack (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{126,93}</string>
    <key>spriteSourceSize</key>
    <string>{126,93}</string>
    <key>textureRect</key>
    <string>{{0,0},{126,93}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blobulord-attack (9)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{126,89}</string>
    <key>spriteSourceSize</key>
    <string>{126,89}</string>
    <key>textureRect</key>
    <string>{{0,95},{126,89}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{440,385}</string>
   <key>textureFileName</key>
   <string>blobulord-attack.png</string>
  </dict>
 </dict>
</plist>
