<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./blood-buburst-move (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{39,37}</string>
    <key>spriteSourceSize</key>
    <string>{39,37}</string>
    <key>textureRect</key>
    <string>{{90,0},{39,37}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blood-buburst-move (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,36}</string>
    <key>spriteSourceSize</key>
    <string>{41,36}</string>
    <key>textureRect</key>
    <string>{{0,74},{41,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blood-buburst-move (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{43,35}</string>
    <key>spriteSourceSize</key>
    <string>{43,35}</string>
    <key>textureRect</key>
    <string>{{0,0},{43,35}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blood-buburst-move (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{43,35}</string>
    <key>spriteSourceSize</key>
    <string>{43,35}</string>
    <key>textureRect</key>
    <string>{{0,37},{43,35}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blood-buburst-move (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{39,37}</string>
    <key>spriteSourceSize</key>
    <string>{39,37}</string>
    <key>textureRect</key>
    <string>{{90,39},{39,37}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blood-buburst-move (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,36}</string>
    <key>spriteSourceSize</key>
    <string>{41,36}</string>
    <key>textureRect</key>
    <string>{{43,74},{41,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blood-buburst-move (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{43,35}</string>
    <key>spriteSourceSize</key>
    <string>{43,35}</string>
    <key>textureRect</key>
    <string>{{45,0},{43,35}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blood-buburst-move (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{43,35}</string>
    <key>spriteSourceSize</key>
    <string>{43,35}</string>
    <key>textureRect</key>
    <string>{{45,37},{43,35}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{131,112}</string>
   <key>textureFileName</key>
   <string>blood-buburst-move.png</string>
  </dict>
 </dict>
</plist>
