<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./blood-buburst-die (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{35,33}</string>
    <key>spriteSourceSize</key>
    <string>{35,33}</string>
    <key>textureRect</key>
    <string>{{228,0},{35,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blood-buburst-die (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{44,41}</string>
    <key>spriteSourceSize</key>
    <string>{44,41}</string>
    <key>textureRect</key>
    <string>{{225,179},{44,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blood-buburst-die (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,45}</string>
    <key>spriteSourceSize</key>
    <string>{48,45}</string>
    <key>textureRect</key>
    <string>{{175,179},{48,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blood-buburst-die (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{72,69}</string>
    <key>spriteSourceSize</key>
    <string>{72,69}</string>
    <key>textureRect</key>
    <string>{{101,179},{72,69}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blood-buburst-die (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{99,83}</string>
    <key>spriteSourceSize</key>
    <string>{99,83}</string>
    <key>textureRect</key>
    <string>{{0,179},{99,83}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blood-buburst-die (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{113,88}</string>
    <key>spriteSourceSize</key>
    <string>{113,88}</string>
    <key>textureRect</key>
    <string>{{0,0},{113,88}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blood-buburst-die (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,87}</string>
    <key>spriteSourceSize</key>
    <string>{112,87}</string>
    <key>textureRect</key>
    <string>{{0,90},{112,87}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blood-buburst-die (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{111,87}</string>
    <key>spriteSourceSize</key>
    <string>{111,87}</string>
    <key>textureRect</key>
    <string>{{115,0},{111,87}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blood-buburst-die (9)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{110,86}</string>
    <key>spriteSourceSize</key>
    <string>{110,86}</string>
    <key>textureRect</key>
    <string>{{114,90},{110,86}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{271,264}</string>
   <key>textureFileName</key>
   <string>blood-buburst-die.png</string>
  </dict>
 </dict>
</plist>
