<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./blood-buburst-spawn (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{31,20}</string>
    <key>spriteSourceSize</key>
    <string>{31,20}</string>
    <key>textureRect</key>
    <string>{{0,0},{31,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blood-buburst-spawn (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{29,18}</string>
    <key>spriteSourceSize</key>
    <string>{29,18}</string>
    <key>textureRect</key>
    <string>{{0,22},{29,18}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blood-buburst-spawn (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{23,15}</string>
    <key>spriteSourceSize</key>
    <string>{23,15}</string>
    <key>textureRect</key>
    <string>{{0,42},{23,15}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blood-buburst-spawn (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{21,13}</string>
    <key>spriteSourceSize</key>
    <string>{21,13}</string>
    <key>textureRect</key>
    <string>{{31,46},{21,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blood-buburst-spawn (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{17,17}</string>
    <key>spriteSourceSize</key>
    <string>{17,17}</string>
    <key>textureRect</key>
    <string>{{50,22},{17,17}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blood-buburst-spawn (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{17,22}</string>
    <key>spriteSourceSize</key>
    <string>{17,22}</string>
    <key>textureRect</key>
    <string>{{31,22},{17,22}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./blood-buburst-spawn (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{19,20}</string>
    <key>spriteSourceSize</key>
    <string>{19,20}</string>
    <key>textureRect</key>
    <string>{{33,0},{19,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{69,61}</string>
   <key>textureFileName</key>
   <string>blood-buburst-spawn.png</string>
  </dict>
 </dict>
</plist>
