<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./demon-idle (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-26}</string>
    <key>spriteSize</key>
    <string>{80,105}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{188,0},{80,105}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-idle (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-27}</string>
    <key>spriteSize</key>
    <string>{88,104}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{94,109},{88,104}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-idle (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-25}</string>
    <key>spriteSize</key>
    <string>{92,107}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{0,0},{92,107}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-idle (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-26}</string>
    <key>spriteSize</key>
    <string>{92,106}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{0,109},{92,106}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-idle (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-25}</string>
    <key>spriteSize</key>
    <string>{92,107}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{94,0},{92,107}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-idle (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-28}</string>
    <key>spriteSize</key>
    <string>{88,102}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{184,109},{88,102}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{274,217}</string>
   <key>textureFileName</key>
   <string>demon-idle.png</string>
  </dict>
 </dict>
</plist>
