<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./demon-attack (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-26}</string>
    <key>spriteSize</key>
    <string>{80,105}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{344,219},{80,105}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-attack (10)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{42,-28}</string>
    <key>spriteSize</key>
    <string>{154,101}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{0,103},{154,101}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-attack (11)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{43,-27}</string>
    <key>spriteSize</key>
    <string>{158,101}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{0,0},{158,101}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-attack (12)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{44,-30}</string>
    <key>spriteSize</key>
    <string>{160,97}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{160,0},{160,97}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-attack (13)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{14,-28}</string>
    <key>spriteSize</key>
    <string>{100,102}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{0,206},{100,102}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-attack (14)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-28}</string>
    <key>spriteSize</key>
    <string>{78,102}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{334,326},{78,102}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-attack (15)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-26}</string>
    <key>spriteSize</key>
    <string>{80,105}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{252,326},{80,105}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-attack (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-27}</string>
    <key>spriteSize</key>
    <string>{76,104}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{414,326},{76,104}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-attack (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-10,-24}</string>
    <key>spriteSize</key>
    <string>{94,109}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{156,103},{94,109}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-attack (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-15,-25}</string>
    <key>spriteSize</key>
    <string>{86,107}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{156,325},{86,107}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-attack (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-16,-24}</string>
    <key>spriteSize</key>
    <string>{90,109}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{156,214},{90,109}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-attack (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-17,-26}</string>
    <key>spriteSize</key>
    <string>{90,105}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{252,219},{90,105}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-attack (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-16,-24}</string>
    <key>spriteSize</key>
    <string>{86,109}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{340,103},{86,109}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-attack (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-16,-22}</string>
    <key>spriteSize</key>
    <string>{86,114}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{252,103},{86,114}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-attack (9)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-16,-23}</string>
    <key>spriteSize</key>
    <string>{86,111}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{0,310},{86,111}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{492,434}</string>
   <key>textureFileName</key>
   <string>demon-attack.png</string>
  </dict>
 </dict>
</plist>
