<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./demon-die (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-34}</string>
    <key>spriteSize</key>
    <string>{80,89}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{292,374},{80,89}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-die (10)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-20,-18}</string>
    <key>spriteSize</key>
    <string>{128,121}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{134,125},{128,121}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-die (11)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-20,-17}</string>
    <key>spriteSize</key>
    <string>{128,124}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{0,123},{128,124}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-die (12)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-20,-24}</string>
    <key>spriteSize</key>
    <string>{128,109}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{244,249},{128,109}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-die (13)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-22,-22}</string>
    <key>spriteSize</key>
    <string>{126,113}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{264,0},{126,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-die (14)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-22,-21}</string>
    <key>spriteSize</key>
    <string>{126,115}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{0,249},{126,115}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-die (15)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-25,-21}</string>
    <key>spriteSize</key>
    <string>{120,116}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{392,120},{120,116}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-die (16)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-24,-18}</string>
    <key>spriteSize</key>
    <string>{114,121}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{374,249},{114,121}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-die (17)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-22,-17}</string>
    <key>spriteSize</key>
    <string>{114,123}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{128,249},{114,123}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-die (18)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-22,-17}</string>
    <key>spriteSize</key>
    <string>{114,123}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{264,115},{114,123}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-die (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-30}</string>
    <key>spriteSize</key>
    <string>{70,97}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{374,372},{70,97}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-die (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-31}</string>
    <key>spriteSize</key>
    <string>{68,96}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{446,372},{68,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-die (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-29}</string>
    <key>spriteSize</key>
    <string>{72,99}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{218,374},{72,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-die (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-7,-26}</string>
    <key>spriteSize</key>
    <string>{88,105}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{128,374},{88,105}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-die (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-22,-22}</string>
    <key>spriteSize</key>
    <string>{96,113}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{0,366},{96,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-die (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-18,-20}</string>
    <key>spriteSize</key>
    <string>{118,118}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{392,0},{118,118}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-die (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-21,-18}</string>
    <key>spriteSize</key>
    <string>{132,121}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{0,0},{132,121}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-die (9)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-20,-17}</string>
    <key>spriteSize</key>
    <string>{128,123}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{134,0},{128,123}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{518,481}</string>
   <key>textureFileName</key>
   <string>demon-die.png</string>
  </dict>
 </dict>
</plist>
