<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./demon-move (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-29}</string>
    <key>spriteSize</key>
    <string>{64,100}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{246,0},{64,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-move (10)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-29}</string>
    <key>spriteSize</key>
    <string>{74,99}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{168,102},{74,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-move (11)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-29}</string>
    <key>spriteSize</key>
    <string>{70,100}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{0,202},{70,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-move (12)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-29}</string>
    <key>spriteSize</key>
    <string>{68,99}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{238,203},{68,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-move (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-29}</string>
    <key>spriteSize</key>
    <string>{68,99}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{244,102},{68,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-move (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-29}</string>
    <key>spriteSize</key>
    <string>{68,100}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{168,203},{68,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-move (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-29}</string>
    <key>spriteSize</key>
    <string>{70,99}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{88,204},{70,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-move (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-29}</string>
    <key>spriteSize</key>
    <string>{74,100}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{170,0},{74,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-move (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,-29}</string>
    <key>spriteSize</key>
    <string>{78,100}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{88,102},{78,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-move (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-29}</string>
    <key>spriteSize</key>
    <string>{86,99}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{0,0},{86,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-move (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-29}</string>
    <key>spriteSize</key>
    <string>{80,99}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{0,101},{80,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./demon-move (9)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-29}</string>
    <key>spriteSize</key>
    <string>{80,100}</string>
    <key>spriteSourceSize</key>
    <string>{288,160}</string>
    <key>textureRect</key>
    <string>{{88,0},{80,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{314,305}</string>
   <key>textureFileName</key>
   <string>demon-move.png</string>
  </dict>
 </dict>
</plist>
