<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./golem-attack (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{60,88}</string>
    <key>spriteSourceSize</key>
    <string>{160,160}</string>
    <key>textureRect</key>
    <string>{{198,188},{60,88}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./golem-attack (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-15,-1}</string>
    <key>spriteSize</key>
    <string>{64,88}</string>
    <key>spriteSourceSize</key>
    <string>{160,160}</string>
    <key>textureRect</key>
    <string>{{196,89},{64,88}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./golem-attack (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-10,-1}</string>
    <key>spriteSize</key>
    <string>{78,88}</string>
    <key>spriteSourceSize</key>
    <string>{160,160}</string>
    <key>textureRect</key>
    <string>{{118,188},{78,88}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./golem-attack (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-12,3}</string>
    <key>spriteSize</key>
    <string>{74,96}</string>
    <key>spriteSourceSize</key>
    <string>{160,160}</string>
    <key>textureRect</key>
    <string>{{0,178},{74,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./golem-attack (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-12,3}</string>
    <key>spriteSize</key>
    <string>{76,97}</string>
    <key>spriteSourceSize</key>
    <string>{160,160}</string>
    <key>textureRect</key>
    <string>{{118,89},{76,97}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./golem-attack (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{17,-1}</string>
    <key>spriteSize</key>
    <string>{114,87}</string>
    <key>spriteSourceSize</key>
    <string>{160,160}</string>
    <key>textureRect</key>
    <string>{{118,0},{114,87}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./golem-attack (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{18,-1}</string>
    <key>spriteSize</key>
    <string>{116,87}</string>
    <key>spriteSourceSize</key>
    <string>{160,160}</string>
    <key>textureRect</key>
    <string>{{0,0},{116,87}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./golem-attack (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{19,-1}</string>
    <key>spriteSize</key>
    <string>{116,87}</string>
    <key>spriteSourceSize</key>
    <string>{160,160}</string>
    <key>textureRect</key>
    <string>{{0,89},{116,87}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{262,278}</string>
   <key>textureFileName</key>
   <string>golem-attack.png</string>
  </dict>
 </dict>
</plist>
