<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./golem-chasing (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-1}</string>
    <key>spriteSize</key>
    <string>{66,87}</string>
    <key>spriteSourceSize</key>
    <string>{160,160}</string>
    <key>textureRect</key>
    <string>{{0,0},{66,87}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./golem-chasing (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{64,88}</string>
    <key>spriteSourceSize</key>
    <string>{160,160}</string>
    <key>textureRect</key>
    <string>{{68,0},{64,88}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./golem-chasing (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{60,89}</string>
    <key>spriteSourceSize</key>
    <string>{160,160}</string>
    <key>textureRect</key>
    <string>{{0,89},{60,89}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./golem-chasing (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{58,88}</string>
    <key>spriteSourceSize</key>
    <string>{160,160}</string>
    <key>textureRect</key>
    <string>{{194,0},{58,88}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./golem-chasing (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{58,87}</string>
    <key>spriteSourceSize</key>
    <string>{160,160}</string>
    <key>textureRect</key>
    <string>{{134,91},{58,87}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./golem-chasing (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{58,88}</string>
    <key>spriteSourceSize</key>
    <string>{160,160}</string>
    <key>textureRect</key>
    <string>{{194,90},{58,88}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./golem-chasing (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{58,89}</string>
    <key>spriteSourceSize</key>
    <string>{160,160}</string>
    <key>textureRect</key>
    <string>{{134,0},{58,89}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./golem-chasing (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{60,88}</string>
    <key>spriteSourceSize</key>
    <string>{160,160}</string>
    <key>textureRect</key>
    <string>{{68,90},{60,88}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{254,180}</string>
   <key>textureFileName</key>
   <string>golem-chasing.png</string>
  </dict>
 </dict>
</plist>
