<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./golem-die (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{62,88}</string>
    <key>spriteSourceSize</key>
    <string>{160,160}</string>
    <key>textureRect</key>
    <string>{{214,236},{62,88}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./golem-die (10)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-30}</string>
    <key>spriteSize</key>
    <string>{142,30}</string>
    <key>spriteSourceSize</key>
    <string>{160,160}</string>
    <key>textureRect</key>
    <string>{{0,248},{142,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./golem-die (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-1}</string>
    <key>spriteSize</key>
    <string>{62,88}</string>
    <key>spriteSourceSize</key>
    <string>{160,160}</string>
    <key>textureRect</key>
    <string>{{278,236},{62,88}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./golem-die (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{68,91}</string>
    <key>spriteSourceSize</key>
    <string>{160,160}</string>
    <key>textureRect</key>
    <string>{{144,236},{68,91}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./golem-die (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,6}</string>
    <key>spriteSize</key>
    <string>{84,102}</string>
    <key>spriteSourceSize</key>
    <string>{160,160}</string>
    <key>textureRect</key>
    <string>{{270,0},{84,102}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./golem-die (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,7}</string>
    <key>spriteSize</key>
    <string>{88,105}</string>
    <key>spriteSourceSize</key>
    <string>{160,160}</string>
    <key>textureRect</key>
    <string>{{240,124},{88,105}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./golem-die (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,10}</string>
    <key>spriteSize</key>
    <string>{94,110}</string>
    <key>spriteSourceSize</key>
    <string>{160,160}</string>
    <key>textureRect</key>
    <string>{{144,124},{94,110}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./golem-die (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,14}</string>
    <key>spriteSize</key>
    <string>{120,120}</string>
    <key>spriteSourceSize</key>
    <string>{160,160}</string>
    <key>textureRect</key>
    <string>{{148,0},{120,120}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./golem-die (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,15}</string>
    <key>spriteSize</key>
    <string>{142,122}</string>
    <key>spriteSourceSize</key>
    <string>{160,160}</string>
    <key>textureRect</key>
    <string>{{0,124},{142,122}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./golem-die (9)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,16}</string>
    <key>spriteSize</key>
    <string>{146,122}</string>
    <key>spriteSourceSize</key>
    <string>{160,160}</string>
    <key>textureRect</key>
    <string>{{0,0},{146,122}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{356,329}</string>
   <key>textureFileName</key>
   <string>golem-die.png</string>
  </dict>
 </dict>
</plist>
