<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./iron-pig-spawn (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-9}</string>
    <key>spriteSize</key>
    <string>{50,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{0,0},{50,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-spawn (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-9}</string>
    <key>spriteSize</key>
    <string>{50,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{0,43},{50,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-spawn (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-10}</string>
    <key>spriteSize</key>
    <string>{50,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{52,0},{50,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-spawn (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-10}</string>
    <key>spriteSize</key>
    <string>{50,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{52,43},{50,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-spawn (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-10}</string>
    <key>spriteSize</key>
    <string>{50,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{0,86},{50,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-spawn (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-9}</string>
    <key>spriteSize</key>
    <string>{50,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{52,86},{50,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-spawn (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-9}</string>
    <key>spriteSize</key>
    <string>{50,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{104,0},{50,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{156,129}</string>
   <key>textureFileName</key>
   <string>iron-pig-spawn.png</string>
  </dict>
 </dict>
</plist>
