<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./iron-pig-die (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-14,-8}</string>
    <key>spriteSize</key>
    <string>{46,43}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{0,119},{46,43}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-die (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-16,-3}</string>
    <key>spriteSize</key>
    <string>{50,53}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{66,0},{50,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-die (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-17,1}</string>
    <key>spriteSize</key>
    <string>{52,63}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{0,54},{52,63}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-die (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-11,-3}</string>
    <key>spriteSize</key>
    <string>{64,52}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{0,0},{64,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-die (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-14,-13}</string>
    <key>spriteSize</key>
    <string>{72,33}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{66,132},{72,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-die (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-12,-11}</string>
    <key>spriteSize</key>
    <string>{68,36}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{66,94},{68,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-die (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-12,-11}</string>
    <key>spriteSize</key>
    <string>{68,37}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{66,55},{68,37}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{140,167}</string>
   <key>textureFileName</key>
   <string>iron-pig-die.png</string>
  </dict>
 </dict>
</plist>
