<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./iron-pig-idle (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-9}</string>
    <key>spriteSize</key>
    <string>{50,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{0,88},{50,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-idle (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-9}</string>
    <key>spriteSize</key>
    <string>{50,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{102,0},{50,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-idle (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-10}</string>
    <key>spriteSize</key>
    <string>{50,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{52,90},{50,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-idle (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-10}</string>
    <key>spriteSize</key>
    <string>{50,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{102,43},{50,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-idle (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-10}</string>
    <key>spriteSize</key>
    <string>{50,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{0,131},{50,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-idle (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-9}</string>
    <key>spriteSize</key>
    <string>{50,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{104,90},{50,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-idle (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-9}</string>
    <key>spriteSize</key>
    <string>{50,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{52,133},{50,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-move (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-9}</string>
    <key>spriteSize</key>
    <string>{48,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{104,133},{48,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-move (10)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-9}</string>
    <key>spriteSize</key>
    <string>{48,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{52,176},{48,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-move (11)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-9}</string>
    <key>spriteSize</key>
    <string>{48,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{102,176},{48,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-move (12)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-9}</string>
    <key>spriteSize</key>
    <string>{48,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{154,133},{48,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-move (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-8}</string>
    <key>spriteSize</key>
    <string>{50,42}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{0,0},{50,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-move (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-8}</string>
    <key>spriteSize</key>
    <string>{48,43}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{52,0},{48,43}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-move (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-9}</string>
    <key>spriteSize</key>
    <string>{48,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{0,174},{48,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-move (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-9}</string>
    <key>spriteSize</key>
    <string>{50,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{154,0},{50,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-move (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-9}</string>
    <key>spriteSize</key>
    <string>{50,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{154,43},{50,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-move (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-9}</string>
    <key>spriteSize</key>
    <string>{48,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{156,90},{48,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-move (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-8}</string>
    <key>spriteSize</key>
    <string>{50,42}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{0,44},{50,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-move (9)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-8}</string>
    <key>spriteSize</key>
    <string>{48,43}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{52,45},{48,43}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{206,219}</string>
   <key>textureFileName</key>
   <string>iron-pig-move.png</string>
  </dict>
 </dict>
</plist>
