<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./iron-pig-chasing (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-9}</string>
    <key>spriteSize</key>
    <string>{48,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{52,90},{48,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-chasing (10)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-9}</string>
    <key>spriteSize</key>
    <string>{48,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{102,86},{48,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-chasing (11)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-9}</string>
    <key>spriteSize</key>
    <string>{48,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{52,133},{48,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-chasing (12)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-9}</string>
    <key>spriteSize</key>
    <string>{48,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{102,129},{48,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-chasing (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-8}</string>
    <key>spriteSize</key>
    <string>{50,42}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{0,0},{50,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-chasing (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-8}</string>
    <key>spriteSize</key>
    <string>{48,43}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{52,0},{48,43}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-chasing (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-9}</string>
    <key>spriteSize</key>
    <string>{48,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{102,43},{48,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-chasing (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-9}</string>
    <key>spriteSize</key>
    <string>{50,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{0,88},{50,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-chasing (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-9}</string>
    <key>spriteSize</key>
    <string>{50,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{102,0},{50,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-chasing (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-9}</string>
    <key>spriteSize</key>
    <string>{48,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{0,131},{48,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-chasing (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-8}</string>
    <key>spriteSize</key>
    <string>{50,42}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{0,44},{50,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-chasing (9)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-8}</string>
    <key>spriteSize</key>
    <string>{48,43}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{52,45},{48,43}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{154,176}</string>
   <key>textureFileName</key>
   <string>iron-pig-chasing.png</string>
  </dict>
 </dict>
</plist>
