<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./iron-pig-attack (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-9}</string>
    <key>spriteSize</key>
    <string>{48,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{156,51},{48,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-attack (10)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{12,-11}</string>
    <key>spriteSize</key>
    <string>{76,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{78,0},{76,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-attack (11)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{12,-11}</string>
    <key>spriteSize</key>
    <string>{76,42}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{0,56},{76,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-attack (12)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,-9}</string>
    <key>spriteSize</key>
    <string>{76,40}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{78,43},{76,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-attack (13)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-8}</string>
    <key>spriteSize</key>
    <string>{54,43}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{0,100},{54,43}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-attack (14)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-8}</string>
    <key>spriteSize</key>
    <string>{50,43}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{150,100},{50,43}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-attack (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,-9}</string>
    <key>spriteSize</key>
    <string>{50,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{0,145},{50,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-attack (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,-9}</string>
    <key>spriteSize</key>
    <string>{50,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{150,145},{50,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-attack (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,-9}</string>
    <key>spriteSize</key>
    <string>{50,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{150,145},{50,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-attack (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,-9}</string>
    <key>spriteSize</key>
    <string>{50,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{150,145},{50,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-attack (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,-5}</string>
    <key>spriteSize</key>
    <string>{46,49}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{102,100},{46,49}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-attack (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-7,-3}</string>
    <key>spriteSize</key>
    <string>{44,52}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{56,100},{44,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-attack (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,-5}</string>
    <key>spriteSize</key>
    <string>{42,49}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{156,0},{42,49}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-attack (9)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{12,-5}</string>
    <key>spriteSize</key>
    <string>{76,54}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{0,0},{76,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{206,188}</string>
   <key>textureFileName</key>
   <string>iron-pig-attack.png</string>
  </dict>
 </dict>
</plist>
