<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./iron-pig-take-hit (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-9,-5}</string>
    <key>spriteSize</key>
    <string>{48,46}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{0,0},{48,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-take-hit (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-7,-7}</string>
    <key>spriteSize</key>
    <string>{48,44}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{0,48},{48,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-take-hit (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-11}</string>
    <key>spriteSize</key>
    <string>{50,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{50,0},{50,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-take-hit (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-10}</string>
    <key>spriteSize</key>
    <string>{50,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{50,43},{50,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-take-hit (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-9,-5}</string>
    <key>spriteSize</key>
    <string>{48,46}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{0,0},{48,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-take-hit (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-7,-7}</string>
    <key>spriteSize</key>
    <string>{48,44}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{0,48},{48,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-take-hit (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-11}</string>
    <key>spriteSize</key>
    <string>{50,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{50,0},{50,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iron-pig-take-hit (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-10}</string>
    <key>spriteSize</key>
    <string>{50,41}</string>
    <key>spriteSourceSize</key>
    <string>{100,65}</string>
    <key>textureRect</key>
    <string>{{50,43},{50,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{102,94}</string>
   <key>textureFileName</key>
   <string>iron-pig-take-hit.png</string>
  </dict>
 </dict>
</plist>
