<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./werewolf-attack (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{70,37}</string>
    <key>textureRect</key>
    <string>{{98,68},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./werewolf-attack (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-10,-2}</string>
    <key>spriteSize</key>
    <string>{46,33}</string>
    <key>spriteSourceSize</key>
    <string>{70,37}</string>
    <key>textureRect</key>
    <string>{{58,0},{46,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./werewolf-attack (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-10,0}</string>
    <key>spriteSize</key>
    <string>{46,32}</string>
    <key>spriteSourceSize</key>
    <string>{70,37}</string>
    <key>textureRect</key>
    <string>{{0,65},{46,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./werewolf-attack (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,-1}</string>
    <key>spriteSize</key>
    <string>{56,30}</string>
    <key>spriteSourceSize</key>
    <string>{70,37}</string>
    <key>textureRect</key>
    <string>{{0,0},{56,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./werewolf-attack (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{9,-1}</string>
    <key>spriteSize</key>
    <string>{52,31}</string>
    <key>spriteSourceSize</key>
    <string>{70,37}</string>
    <key>textureRect</key>
    <string>{{0,32},{52,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./werewolf-attack (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-1}</string>
    <key>spriteSize</key>
    <string>{42,31}</string>
    <key>spriteSourceSize</key>
    <string>{70,37}</string>
    <key>textureRect</key>
    <string>{{58,35},{42,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./werewolf-attack (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{38,30}</string>
    <key>spriteSourceSize</key>
    <string>{70,37}</string>
    <key>textureRect</key>
    <string>{{58,68},{38,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{132,102}</string>
   <key>textureFileName</key>
   <string>werewolf-attack.png</string>
  </dict>
 </dict>
</plist>
