<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./werewolf-spawn (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{32,33}</string>
    <key>spriteSourceSize</key>
    <string>{70,37}</string>
    <key>textureRect</key>
    <string>{{0,35},{32,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./werewolf-spawn (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{32,33}</string>
    <key>spriteSourceSize</key>
    <string>{70,37}</string>
    <key>textureRect</key>
    <string>{{36,0},{32,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./werewolf-spawn (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{32,33}</string>
    <key>spriteSourceSize</key>
    <string>{70,37}</string>
    <key>textureRect</key>
    <string>{{34,35},{32,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./werewolf-spawn (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{32,33}</string>
    <key>spriteSourceSize</key>
    <string>{70,37}</string>
    <key>textureRect</key>
    <string>{{0,70},{32,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./werewolf-spawn (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{32,33}</string>
    <key>spriteSourceSize</key>
    <string>{70,37}</string>
    <key>textureRect</key>
    <string>{{68,35},{32,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./werewolf-spawn (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{32,33}</string>
    <key>spriteSourceSize</key>
    <string>{70,37}</string>
    <key>textureRect</key>
    <string>{{34,70},{32,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./werewolf-spawn (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{34,33}</string>
    <key>spriteSourceSize</key>
    <string>{70,37}</string>
    <key>textureRect</key>
    <string>{{0,0},{34,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{102,105}</string>
   <key>textureFileName</key>
   <string>werewolf-spawn.png</string>
  </dict>
 </dict>
</plist>
