<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./luna-run (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-2}</string>
    <key>spriteSize</key>
    <string>{79,100}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{0,0},{79,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-run (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-3}</string>
    <key>spriteSize</key>
    <string>{71,98}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{239,0},{71,98}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-run (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,-3}</string>
    <key>spriteSize</key>
    <string>{75,99}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{81,101},{75,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-run (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{75,93}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{158,101},{75,93}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-run (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-3}</string>
    <key>spriteSize</key>
    <string>{79,99}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{81,0},{79,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-run (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-3}</string>
    <key>spriteSize</key>
    <string>{71,98}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{235,101},{71,98}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-run (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,-3}</string>
    <key>spriteSize</key>
    <string>{75,99}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{162,0},{75,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-run (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{75,93}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{0,102},{75,93}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{312,202}</string>
   <key>textureFileName</key>
   <string>luna-run.png</string>
  </dict>
 </dict>
</plist>
