<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./luna-damage (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{43,105}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{0,0},{43,105}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-damage (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{43,105}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{45,0},{43,105}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-damage (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{43,105}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{90,0},{43,105}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-damage (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{43,105}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{45,0},{43,105}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-damage (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{43,104}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{135,0},{43,104}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-damage (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{43,105}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{90,0},{43,105}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-damage (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{43,105}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{0,0},{43,105}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{180,107}</string>
   <key>textureFileName</key>
   <string>luna-damage.png</string>
  </dict>
 </dict>
</plist>
