<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./luna-item (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-13,-2}</string>
    <key>spriteSize</key>
    <string>{76,76}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{0,77},{76,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-item (10)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,-4}</string>
    <key>spriteSize</key>
    <string>{72,74}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{156,153},{72,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-item (11)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,-4}</string>
    <key>spriteSize</key>
    <string>{72,74}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{78,228},{72,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-item (12)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,-4}</string>
    <key>spriteSize</key>
    <string>{72,74}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{230,77},{72,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-item (13)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,-4}</string>
    <key>spriteSize</key>
    <string>{72,74}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{230,153},{72,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-item (14)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,-4}</string>
    <key>spriteSize</key>
    <string>{72,74}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{156,229},{72,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-item (15)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,-4}</string>
    <key>spriteSize</key>
    <string>{72,74}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{230,229},{72,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-item (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-13,-2}</string>
    <key>spriteSize</key>
    <string>{78,75}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{0,0},{78,75}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-item (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-12,-3}</string>
    <key>spriteSize</key>
    <string>{76,74}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{80,0},{76,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-item (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-12,-3}</string>
    <key>spriteSize</key>
    <string>{76,73}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{78,77},{76,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-item (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-11,-3}</string>
    <key>spriteSize</key>
    <string>{74,73}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{0,155},{74,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-item (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-10,-3}</string>
    <key>spriteSize</key>
    <string>{72,73}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{0,230},{72,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-item (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-9,-4}</string>
    <key>spriteSize</key>
    <string>{72,74}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{158,0},{72,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-item (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-9,-4}</string>
    <key>spriteSize</key>
    <string>{72,74}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{78,152},{72,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-item (9)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-9,-4}</string>
    <key>spriteSize</key>
    <string>{72,74}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{156,77},{72,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{304,305}</string>
   <key>textureFileName</key>
   <string>luna-item.png</string>
  </dict>
 </dict>
</plist>
