<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./luna-shot (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,-2}</string>
    <key>spriteSize</key>
    <string>{62,75}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{158,0},{62,75}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-shot (10)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,-3}</string>
    <key>spriteSize</key>
    <string>{64,73}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{0,150},{64,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-shot (11)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,-3}</string>
    <key>spriteSize</key>
    <string>{72,73}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{84,0},{72,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-shot (12)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-10,-3}</string>
    <key>spriteSize</key>
    <string>{78,73}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{0,75},{78,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-shot (13)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-12,-3}</string>
    <key>spriteSize</key>
    <string>{82,73}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{0,0},{82,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-shot (14)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-3}</string>
    <key>spriteSize</key>
    <string>{52,73}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{220,77},{52,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-shot (15)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-3}</string>
    <key>spriteSize</key>
    <string>{52,73}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{216,152},{52,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-shot (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-7,-3}</string>
    <key>spriteSize</key>
    <string>{64,74}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{80,75},{64,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-shot (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-5,-3}</string>
    <key>spriteSize</key>
    <string>{62,73}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{80,151},{62,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-shot (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-3}</string>
    <key>spriteSize</key>
    <string>{60,73}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{158,77},{60,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-shot (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{56,73}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{158,152},{56,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-shot (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{56,73}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{158,152},{56,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-shot (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{56,73}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{158,152},{56,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-shot (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{56,73}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{158,152},{56,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-shot (9)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{56,73}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{158,152},{56,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{274,227}</string>
   <key>textureFileName</key>
   <string>luna-shot.png</string>
  </dict>
 </dict>
</plist>
