<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./luna-evade (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,1}</string>
    <key>spriteSize</key>
    <string>{89,95}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{0,0},{89,95}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{91,97}</string>
   <key>textureFileName</key>
   <string>luna-evade.png</string>
  </dict>
 </dict>
</plist>
