<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./luna-prepare-dash (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,-1}</string>
    <key>spriteSize</key>
    <string>{49,103}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{120,0},{49,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-prepare-dash (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,-1}</string>
    <key>spriteSize</key>
    <string>{51,103}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{112,105},{51,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-prepare-dash (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-1}</string>
    <key>spriteSize</key>
    <string>{53,103}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{57,105},{53,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-prepare-dash (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{55,103}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{0,105},{55,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-prepare-dash (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{57,103}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{61,0},{57,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./luna-prepare-dash (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{59,103}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{0,0},{59,103}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{171,210}</string>
   <key>textureFileName</key>
   <string>luna-prepare-dash.png</string>
  </dict>
 </dict>
</plist>
